[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
[submodule "themes/avicenna"]
	path = themes/avicenna
	url = https://github.com/hadisinaee/avicenna.git
