{{ $content_type := .Params.content_type }}

{{ $aboutPage := .Site.GetPage $content_type }}

{{ if or $aboutPage.Params.academia $aboutPage.Params.industry}}


{{ if $aboutPage.Params.industry }}
<div class="industry">
    <div class="col w-100">
    <h4 class="main_color">Industry</h4>
    {{range $industry := $aboutPage.Params.industry}}
    <div class="row">
        <div class="course col">
            <div class="title row">
                <div class="col">
                    {{$industry.job.title}}
                </div>
            </div>

            <div class="institution_dates row">
                <div class="text-muted institution col" id="institution_title">
                    {{$industry.job.institution}}
                </div>
            </div>

            {{if $industry.job.other_info}}
            <div class="other_info row text-muted">
                <div class="col">
                    {{markdownify $industry.job.other_info}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
    </div>
</div>
{{end}}



{{if $aboutPage.Params.academia}}
<div class="academia">
    <div class="col w-100">
    <h4 class="main_color">Academia</h4>
    {{range $academia := $aboutPage.Params.academia}}
    <div class="row">
        <div class="course col">
            <div class="degree_major row">
                <div class="col">
                    {{$academia.course.degree}} {{$academia.course.major}}

                    {{if $academia.course.minor }}
                    , Minor: {{$academia.course.minor}}
                    {{end}}
                </div>
            </div>

            <div class="institution_dates row">
                <div class="text-muted institution col" id="institution_title">
                    {{$academia.course.institution}}
                </div>
                {{if $academia.course.start_date }}
                    <div class="main_color dates col-md-auto  justify-content-end">
                        {{$academia.course.start_date}}
                        {{ if $academia.course.end_date }}
                        - {{$academia.course.end_date}}
                        {{else}}
                        - present
                        {{end}}
                    </div>
                {{ end }}
            </div>

            {{if $academia.course.other_info}}
            <div class="other_info row text-muted">
                <div class="col">
                    {{markdownify $academia.course.other_info}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
</div>
</div>
{{end}}
{{end}}